<mat-card>
  <div>
    <mat-card-title><h1 style="color: white;">Detalhes Cliente</h1></mat-card-title>
  </div>
  <div *ngIf="cliente">
    <form>
      <div class="input-box">
        <mat-form-field>
        <mat-label>Número do registro</mat-label>
        <input matInput type="text" value="{{cliente.id}}" disabled>
      </mat-form-field>
      </div>
      <div class="input-box">
        <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput type="text" value="{{cliente.nome}}" disabled>
      </mat-form-field>
      </div>
      <div class="input-box">
      <mat-form-field>
        <mat-label>Data de Nascimento</mat-label>
        <input matInput type="text" value="{{cliente.dataNascimento}}" disabled>
      </mat-form-field>
      </div>
      <div class="input-box">
        <mat-form-field>
          <mat-label>Valor renda</mat-label>
          <input matInput type="text" value="{{cliente.valorRenda}}" disabled>
        </mat-form-field>
        </div>
        <div class="input-box">
          <mat-form-field>
            <mat-label>CPF</mat-label>
            <input matInput type="text" value="{{cliente.cpf}}" disabled>
          </mat-form-field>
          </div>
      <div class="input-box">
        <mat-form-field>
        <mat-label>Situação</mat-label>
        <input matInput type="text" value="{{cliente.ativo == true ? 'Ativo' : 'Inativo'}}" disabled>
      </mat-form-field>
      </div>
      <div class="btn-box">
        <button mat-raised-button color="warn" (click)="inativaCliente()">Inativar usuário</button>
        <button mat-raised-button routerLink="">Voltar</button>
      </div>
    </form>
  </div>
</mat-card>
